# Mongo / Auth
MONGO_URI=mongodb://localhost:27017/food-delivery
JWT_SECRET=generate_with_node_-e_console.log_crypto.randomBytes_64.toString_hex
PORT=5001
NODE_ENV=development

# Cloudinary — Sign up at https://cloudinary.com
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
